:root {
    --text-one: 'Inconsolata', monospace;
    --text-two: 'Ubuntu', sans-serif;

    /* --awesome: #FFD43B; */
    --awesome: #FBCA1F;
    --background: #000000;
    --mid: rgb(86, 138, 250);
    --white: #f7fff7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: var(--text-one);
}



/* Estilos que se repiten */
.box {
    width: 100%;
    height: auto;
    position: relative;
    padding: 70px 20px;
    background-color: var(--background);
}
.box > *{
    margin-bottom: 50px;
}

/* ------------------------------------ */



/* Estilos del header */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 50px;
    z-index: 20;
    padding: 10px 20px;
    border-bottom: 1px solid var(--awesome);
    background-color: var(--background);
}
header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 2rem;
    color: var(--white);
    font-weight: 700;
}
.hamburguer {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-image: url('../assets/icons/menu-toggle-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-out;
}
.toogle_open {
    background-image: url('../assets/icons/menu-open-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Menu hamburguesa */
.menu {
    position: fixed;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    padding: 30px 25px;
    z-index: 20;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(-100%);
    transition: transform 0.3s;
}
.show {
    transform: translateX(0px);
}
.menu ul {
    list-style: none;
}
.menu_item {
    margin-bottom: 25px;
    font-size: 2.4rem;
}
.menu_item a{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
}



body section {
    border-bottom: 1px solid var(--white);
}



/* Pantalla home */
.home {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items:flex-start;
    background-image: url('../assets/images/background-mobile.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.home::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.home_container {
    width: 100%;
    height: auto;
    z-index: 10;
}
.home_container--photo {
    width: 180px;
    height: 180px;
    margin: 100px auto 50px;
    border-radius: 50%;
    background-image: url('../assets/images/photo.jpg');
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}
.home_container--name {
    width: 100%;
    height: auto;
    text-align: center;
}
.home_container--name p{
    margin-bottom: 24px;
}
.home_container--name p:first-child {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);
}
.home_container--name p:nth-child(2) {
    font-family: var(--text-two);
    font-weight: 500;
    font-size: 2rem;
    color: var(--awesome);
}
.home_container--name p:last-child {
    font-size: 2rem;
    font-weight: 700;
    color: var(--mid);
}
.home_container button {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.button_home {
    
}


/* Screen about me */

.subtitle {
    text-align: center;
    font-family: var(--text-two);
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--awesome);
}
.about_info {
    width: 100%;
}
.subtitle_text {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--white);
    overflow: hidden;
    white-space: initial;
}
.about_info p:nth-child(2) {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 4rem;
    color: var(--awesome);
}
.about_info p:last-child {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 3.5rem;
    color: var(--white);
}
.button {
    width: auto;
    height: 40px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 5px;
    font-family: var(--text-two);
    font-size: 1.6rem;
    font-weight: 300;
    background-color: var(--awesome);
}
.button span {
    display: inline-block;
    width: 13px;
    height: 18px;
    margin-right: 6px;
    background-image: url('../assets/icons/download.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* Screen skills / tools */

.tools_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-items: center;
}
.tool {
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid var(--awesome);
    cursor: pointer;

    background-color: rgba(128, 128, 128, 0.1);
}
.tool_img {
    width: 55px;
    height: 55px;
    text-align: center;
}
.tool_img svg {
    width: 100%;
    height: 100%;
    fill: var(--awesome);
}
.tool_text {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white);
}


/* Styles of section projects */
.contact_options {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    justify-items: center;
}
.project {
    max-width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 3px;
    background-color: gray;

}
.project > div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

svg {
    width: 100%;
    height: 100%;
    fill: var(--awesome);
}


/* -------------------------------- */
/* styles footer */

.footer {
    width: 100%;
    height: 100px;
    padding: 40px 0;
    text-align: center;
    background-color: var(--background);
}
.footer_text {
    font-family: var(--text-two);
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--white);
}