:root {
    --text-one: 'Inconsolata', monospace;
    --text-two: 'Ubuntu', sans-serif;

    --awesome: #FFD43B;
    --background: #000000;
    --mid: rgb(86, 138, 250);
    --white: #f7fff7;


    --bot: #ffd60a;
    --otro: #001d3d;
    --otroYeloow: #ffc300;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: var(--text-one);
}



/* Estilos del header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 300px;
    height: 50px;
    padding: 10px 20px;
    border-bottom: 1px solid var(--awesome);
    background-color: var(--background);
    z-index: 10;
}
header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 2rem;
    color: var(--white);
    font-weight: 700;
}
.hamburguer {
    width: 30px;
    height: 30px;
    border: none;
    z-index: 20;
    cursor: pointer;
    background-color:white;
}
.hamburguer svg {
    width: 100%;
    height: 100%;
    background-color: var(--background);
}


/* Menu hamburguesa */
.menu {
    position: fixed;
    width: 350px;
    height: 100vh;
    margin-top: 50px;
    padding: 30px 25px;
    z-index: 20;
    background-color: var(--background);
    transition: transform 0.3s;
}
.transition { transform: translateX(-350px); }
.menu ul {
    list-style: none;
}
.menu_item {
    margin-bottom: 25px;
    font-size: 2.4rem;
}
.menu_item a{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    font-weight: 500;
    text-decoration: none;
    color: var(--white);
}



/* Pantalla home */
.home {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items:flex-start;
    background-image: url('../assets/images/background-mobile.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.home::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.home_container {
    width: 100%;
    height: auto;
    z-index: 10;
}
.home_container--photo {
    width: 180px;
    height: 180px;
    margin: 150px auto 50px;
    margin-bottom: 50px;
    border-radius: 50%;
    background-image: url('../assets/images/photo.jpg');
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}
.home_container--name {
    width: 100%;
    height: auto;
    text-align: center;
}
.home_container--name p{
    margin-bottom: 24px;
}
.home_container--name p:first-child {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);
}
.home_container--name p:nth-child(2) {
    font-family: var(--text-two);
    font-weight: 500;
    font-size: 2rem;
    color: var(--awesome);
}
.home_container--name p:last-child {
    font-size: 2rem;
    font-weight: 700;
    color: var(--mid);
}
.home_container button {
    display: block;
    margin-right: auto;
    margin-left: auto;
}